body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 200px;
}

footer {
    color: #E5E7EB;
}

 header h1 {
     color: #F9FAF8;
     font-size: 24px;
 }

 nav {
     display: flex;
     gap: 16px;
 }

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
    padding-bottom: 100px;
}

.hero h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.hero img {
}

.hero-left {
    max-width: 500px;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-content {
    display: flex;
    justify-content: center;
}

.info-content figure {
    max-width: 200px;
}

.info-content figcaption {
    text-align: center;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.quote {

}

.signup {
    
}

.signup-button {
    color:#E5E7EB;
    font-weight: 800;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}