body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-around;
}

footer {
    color: #E5E7EB;
    justify-content: center;
}

footer p {
    margin: 32px;
}

 header h1 {
     color: #F9FAF8;
     font-size: 24px;
 }

 nav {
     display: flex;
     gap: 16px;
 }

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.hero h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.hero-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-left {
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-content figure {
    width: 200px;
    margin-left: 20px;
}

.info-content figcaption {
    text-align: center;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 28%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup h3 {
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.signup p {
    margin: 0;
    color: #E5E7EB;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3882F6;
    margin: 100px 20%;
    padding: 50px 100px;
    border-radius: 5px;
    width: 100%;
}

.signup-button {
    color:#E5E7EB;
    font-weight: 800;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

.signup-container .signup-button {
    border: 2px solid #F9FAF8;
    margin-bottom: 0;
}